[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "~=3.3.0"
pytest = "~=6.2.1"
numpy = "~=1.24"
metpy = "~=1.0"
pysolar = "~=0.9"

[dev-packages]

[requires]
python_version = "~=3.10"
